* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 5rem;
    font-weight: bold;
    padding: 2.5rem;
}

h3 {
    text-align: center;
}

.coming-soon {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.countdown {
    display: flex;
    justify-content: space-around;
    padding-bottom: 2.5rem;
}

.day, .hour, .minute, .second {
    font-size: 3rem;
}


.waiting {
    height: 50vh;
}